node_modules
artifacts
cache
coverage*
gasReporterOutput.json
typechain
typechain-types
.husky
.prettierignore
foundry.toml
forge
forge-cache
out
!/broadcast
/broadcast/*
/broadcast/*/31337/
slither.db.json
docs/
lib/